<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>cadastro</title>
</head>
<body>
    <h1>"Formulário para envio do email -- Quero Ajudar -- arquiva informações no banco de dados tendo o cpf como referência."</h1>
    <hr>
</body>
</html>